Source: netrunner-odroid-settings
Section: unknown
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/netrunner-odroid/netrunner-odroid-settings

Package: netrunner-odroid-settings
Architecture: armhf
Depends: netrunner-default-settings, novnc, ${misc:Depends}
Description: settings for the ODROID
 Netrunner specific settings for the ODROID
